.App-logo {
  border: 2px solid red;
  width: 200px; }

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #721817;
  color: #FA9F42;
  padding: 10px; }
  .header .title-container {
    background-color: #0B6E4F;
    width: 80%;
    border-radius: 5px; }
    .header .title-container h1 {
      font-family: "Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"; }

.app {
  margin: 0px;
  background-color: #2B4162;
  height: 100vh; }
