@import "variables";

.orderSummary {
  background-color: $greywhite;
  border: $black 4px solid;
  border-radius: 5px;
  width: 20%;
  color: $black;
  padding: 10px;
  font-size: 12px;

  .title {
    text-align: center;
  }
  .pizza {
    color: $green;
    margin-top: 20px;

  }
  .topping {
    padding-left: 20px;
  }
  .total-container {
    text-align: center;
  }
}

.cost{
  float: right;
}