@import "variables";

.store-app {
  font-family: $titleFont;
  text-align: center;
  h2 {
    margin: 15px;
    color: $greywhite;
  }
  .phases {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
      color: $yellow;
      width: 20vw;
      margin-left: 0px;
      margin-right: 0px;
      h3 {
        margin-bottom: 20px;
      }
    }
  }
}