// Colors
$red: #721817;
$yellow: #FA9F42;
$blue: #2B4162;
$green: #0B6E4F;
$greywhite: #E0E0E2;
$black: #262626;



// Fonts Families
$theoremFont: "Source Sans Pro",Sans-serif;
$theoremAltFont: 'Poppins',sans-serif;